{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="page-header">
		<h1>Threshold Settings (L/Hr)</h1>
	</div>
</div>
<div class="container">
	<div class="page-body">
		<form class="form form-horizontal" method="POST" role="form" action="/settings">
			{% for device in devices %}
			<label for="{{ device.device }}">{{ device.device }}: </label><br>
			<input type="number" id="{{ device.device }}" name="{{ device.device }}" value="{{ device.max_flow }}"><br>
			{% endfor %}
			<br>
			<input type="submit" name="action" value="SAVE">
			<input type="reset" value="RESET">
		</form>
	</div>
</div>
{% endblock %}
