{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="page-header">
		<h1>Threshold Settings</h1>
	</div>
</div>
<div class="container">
	<div class="page-body">
		<form class="form form-horizontal" method="POST" role="form" action="/settings">
			<label for="hostname">Kitchen Sink: </label><br>
			<input type="text" id="hostname" name="hostname"><br>
			<label for="ip_addr">Upstairs Bathroom: </label><br>
			<input type="text" id="ip_addr" name="ip_addr"><br>
			<label for="rack">Upstairs Shower: </label><br>
			<input type="text" id="rack" name="rack"><br>
			<label for="ip_addr">Downstairs Bathroom: </label><br>
			<input type="text" id="project" name="project"><br>
			<label for="slot">Downstairs Shower: </label><br>
			<input type="text" id="slot" name="slot"><br><br>
			<input type="submit" name="action" value="SAVE">
			<input type="reset" value="RESET">
		</form>
	</div>
</div>
{% endblock %}