{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="page-header">
		<h1>Valves</h1>
	</div>
</div>
<div class="container">
	<div class="page-body">
		<table>
		<tr>
		<th><strong>Location</strong></th>
		<th>&emsp;&emsp;</th>
		<th><strong>Status</strong></th>
		<th>&emsp;&emsp;</th>
		<th><strong>Action</strong></th>
		</tr>
			<tr>
			<td>Kitchen Sink</td>
			<td></td>
			<td>Open</td>
			<td></td>
			<td><button type="button" class="btn btn-warning">Close</button></td>
			</tr>
			
			<tr>
			<td>Upstairs Bathroom</td>
			<td></td>
			<td>Closed</td>
			<td></td>
			<td><button type="button" class="btn btn-primary">Open</button></td>
			</tr>
			
			<tr>
			<td>Upstairs Shower</td>
			<td></td>
			<td>Open</td>
			<td></td>
			<td><button type="button" class="btn btn-warning">Close</button></td>
			</tr>
			
			<tr>
			<td>Downstairs Bathroom</td>
			<td></td>
			<td>Open</td>
			<td></td>
			<td><button type="button" class="btn btn-warning">Close</button></td>
			</tr>
			
			<tr>
			<td>Downstairs Shower</td>
			<td></td>
			<td>Open</td>
			<td></td>
			<td><button type="button" class="btn btn-warning">Close</button></td>
			</tr>
		</table>
	</div>
</div>
{% endblock %}